.button {
    background-image: url("./image/bg.jpg");
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    cursor: pointer;
}

#top, #bottom{
    position: relative;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

#top {
    left: 0;
    right: 0;
    background-color: rgb(252, 251, 242);
    text-align: center;
    font-size: 50px;
}

#first{

    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}

#second{

    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
}

#third{

    animation: fadein 6s;
    -moz-animation: fadein 6s; /* Firefox */
    -webkit-animation: fadein 6s; /* Safari and Chrome */
    -o-animation: fadein 6s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

#bottom {
    bottom: 0;
    background-color: rgb(252, 251, 242);
}


h2 {
    font-style: italic;
}


.header{
    font-size: 40px;
    color:white;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 10px;
    padding-top: 10px;
    background-image: url("./image/bg.jpg");
}


.discussion{
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    position: absolute;
    text-decoration: underline;

}


#ResumeButt{
    width: 450px;
    position: absolute;
    font-size: 20px;
    margin-bottom: 10px;
    background: rgb(186, 255, 68)
}

.question{
    font-size: 23px;
}

.contents{
    font-size: 20px;
}

.title{
    font-size: 25px;
}

body{
    background-color: rgb(252, 251, 242);
    font-size: 20px;
}

table, th, td {
    text-align: center;
    border-color: greenyellow;

}


a {
    color: cornflowerblue;
}


.grow:hover {
    -webkit-transform: scale(1.3);
    background: rgb(255, 246, 155);

}

.chart{
    position: fixed;
    padding-left: 3%;
    float: left;

}

.chart2{
    position: relative;
    background-repeat: no-repeat;
}

.logo{

    width: 20%;
    float: left;
    margin-top: -420px;
}

.text{
    float: right;
    padding-right: 7%;
    position:absolute;
    margin-left: 25%;
}

.center{
    margin-left:auto;
    margin-right:auto;
}

.copyright{
    color: cornflowerblue;
    bottom: 2px;
    float: left;
    position: fixed;
}
